.header--nav{
    width: 100%;
    height: 54px;
    font-size: 13px !important;
    display: flex;
    align-items: center;
    background-color: white;
}
.header--nav__logo {
  width: 9%;
  margin-left: 2em;
}
.header--nav__logo img {
  width: 98%;
}

.header--nav__opciones {
  width: 80%;
}
.header--nav__opciones a:hover,
a:focus {
  background-size: 100% 2px;
  border-bottom: 2px solid black;

}
.header--nav__opciones,
li,
a {
  display: inline-flex;
  text-decoration: none;
  margin-right: 3px;
  color: black;
  font-family: "Arial Narrow Bold", sans-serif;
}
.header--nav__opciones__span a {
  color: black;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  display: block;
  font-size: 18px;
  font-weight: 600;

}
.header--nav__opciones ul li ul li{
 background-color: white;
 width: 150px;
 margin-top: -5px;
}


/* ----------------------------------------------- */
.header--nav__opciones li a {
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}

.header--nav__opciones li ul {
  display: none;
  position: absolute;
  
}

.header--nav__opciones li:hover > ul {
  display: block;
  width: 8%;
  margin-top: 42px;
}

.header--nav__opciones li ul li {
  position: relative;
  margin-top: 10px;
}
_________________ .header--nav__login {
  width: 9%;
}
.header--nav__login a {
  background-color: #0078d4;
  color: white;
  font-family: "Arial Narrow Bold", sans-serif;
  padding: 8px 17px;
  border-radius: 40%;
}

.header--nav__logo,
.header--nav__opciones,
.header--nav__login {
  display: inline-flex;
}
.header--bloque{
  width: 100%;
  height: 220px;
}
.header--bloque img {
  width: 100%;
  height: 220px;
}
.header--bloque__parrafo1 {
  margin-top: -3.8em;
}

.header--bloque__parrafo1 {
  margin-left: 2em;
  font-size: 2.6em;
  color: white;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}
.header--bloque__parrafo2 {
  margin-left: 3.5em;
  font-size: 1.5em;
  color: white;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}
