* {
  margin: 0;
}

body {
  font-family: Segoe UI, "Segoe UI Web Regular", "Segoe UI Regular WestEuropean",
    "Segoe UI", Tahoma, Arial, Roboto, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f4f4f4;
}

.container {
  padding: 60px 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
  padding-left: 13%;
  padding-right: 13%;
  border-radius: 4px 4px 0 0;
  margin: 30px 175px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.container--post {
  margin-bottom: 2px;
  border-radius: 4px 4px 0 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title--header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.title--topic {
  font-size: 1.7rem;
  margin-bottom: 15px;
}

.container--post img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-bottom: 10px;
}
.container--post__name {
  font-size: 20px;
  margin-bottom: 5px;
}
.container--post__date {
  text-align: center;
  font-size: 14px;
  color: #616161;
  margin-bottom: 15px;
}
.code {
  width: 100%;
  display: flex;
}
.container--post pre {
  background-color: #f0f0f0;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  border: 0 !important;
  text-align: center;

  display: block;
  font-size: 87.5%;
  color: #212529;

  margin-top: 10px;
  margin-bottom: 1rem;
  overflow: auto;
}
hr {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 2rem;
  border: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.459);
}
.hr--final{
    width: 154%;
    margin-top: 60px;
    margin-bottom: 2rem;
    border: 1;
    border-top: 1px solid rgba(0, 0, 0,0.01);
}
.author--avatar {
  float: left;
  margin-right: 20px;
}
.author--avatar img {
  border-radius: 100%;
  max-width: 100%;
  height: 95px;
  width: 95px;
}
.container--post__author {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.social-links h5 a{
    font-size: 1.25rem;
    color: #005da6;
    text-decoration: underline;
    margin-bottom: .5rem;
  }
  .social-links div {
   margin-bottom: 10px;
  }
  .social-links div p a{
      margin-left: 10px;
    color:rgba(51, 51, 51, 0.856);
    text-decoration: none;
   }
.social-bar {
  position: fixed;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: white;
}
.social-bar a {
  display: block;
  text-align: center;
  padding: 8px 15px;
  transition: all 0.3s ease;
  color: #3c3c3c;
  font-size: 17px;
}

.social-bar a:hover {
  background-color: #fff;
  color: #999;
}

.cattagsarea{
  margin-top: 20px;
  margin-left: -750px;
}

.cat-links, .cattagsarea .tags-links {
  display: flex;
  padding-bottom: 5px;
}
 .gris{
   background-color: rgb(226, 226, 226);
   padding: 5px 0px 5px;
 }

.container__post__h5{
  display: block;
  font-size: 1.5rem;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-left: 180px;
}

.col-md-6{
  display: flex;
  justify-content: center;
  background-color: white;
  height: 200px;
  width: 35%;
  display: block;
  margin-left: 180px;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
}

.col-md-62{
  display: flex;
  justify-content: center;
  background-color: white;
  height: 200px;
  width: 35%;
  display: block;
  margin-left: 52%;
  margin-top: -200px;
  border-radius: 3px; 
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.post__card_h5{
  color: #005da6;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 10%;
}

.post_card_p{
  padding-left: 10%;
  padding-right: 6%;
}

.post_comen_h5{
  display: block;
  font-size: 1.50rem;
  margin-block-start: 1.67em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-left: 180px;
}
.post_comen_h5_p{
  margin-left: 180px;
}
.post_comen_h5_p_recien{
  margin-top: 2%;
  margin-left: 70%;
}

.container_final_post{
  background-color: white;
  margin-top: 30px;
  width: 68%;
  height: 50%;
  margin-left: 19%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.container--post__author_card1{
  float: left;
  margin-right: 20px;
  margin-left: 42px;
  padding-top: 13px; 
}

.author--avatar_card1 img{
  border-radius: 100%;
  max-width: 100%;
  height: 20px;
  width: 20px;
}

.ani_post1{
  color: #005da6;
  margin-top: -20px;
  margin-left: 35px;
}

.ani_post2{
  font-size: 0.8em;
  margin-top: -17px;
  margin-left: 128px;
}

.ani_post3{
  color: #005da6;
  margin-top: -20px;
  margin-left: 35px;
}

.ani_post4{
  font-size: 0.8em;
  margin-top: -17px;
  margin-left: 128px;
}

.container--post__author_post1 {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
}
.container--post__author_post1 img {
  border-radius: 100%;
  max-width: 100%;
  height: 40px;
  width: 150px;
}
.author--avatar_post1{
  display: flex;
}

.social-links-post1 h5 a{
  font-size: 1rem;
  color: #005da6;
  padding-top: 20px;
  
}

.tiempo_post1{
  margin-left: 15%;
  margin-top: -21px;
}

.author--avatar_comen1 {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
}
.author--avatar_comen1 img {
  border-radius: 100%;
  max-width: 100%;
  height: 40px;
  width: 150px;
}
.container--post__author_comen1{
  display: flex;
}

.social-links-final1 h5 a{
  font-size: 1rem;
  color: #005da6;
  padding-top: 20px;
  
}

.tiempo1{
  margin-left: 15%;
  margin-top: -21px;
}

.container_final_post_1{
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
}

.author--avatar_comen2 {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
}
.author--avatar_comen2 img {
  border-radius: 100%;
  max-width: 100%;
  height: 40px;
  width: 150px;
}
.container--post__author_comen2{
  display: flex;
}

.social-links-final2 h5 a{
  font-size: 1rem;
  color: #005da6;
  padding-top: 20px;
  
}

.tiempo2{
  margin-left: 15%;
  margin-top: -21px;
}

.container_final_post_2{
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 50px;
}

.author--avatar_comen3 {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
}
.author--avatar_comen3 img {
  border-radius: 100%;
  max-width: 100%;
  height: 40px;
  width: 150px;
}
.container--post__author_comen3{
  display: flex;
}

.social-links-final3 h5 a{
  font-size: 1rem;
  color: #005da6;
  padding-top: 20px;
  
}

.tiempo3{
  margin-left: 15%;
  margin-top: -21px;
}

.container_final_post_3{
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
}

