<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/post.css" />
    <link rel="stylesheet" href="../css/icon.css" />
    <title>POST</title>
  </head>
  <body>
    <header class="header">
      <nav class="header--nav">
        <div class="header--nav__logo">
          <a href="">
            <img src="../images/logo.png" alt="" />
          </a>
        </div>
        <div class="header--nav__opciones">
          <ul>
            <li>
              <span class="header--nav__opciones__span"
                ><a href="">.NET Blog</a></span
              >
            </li>
            <li><a href="">DevBlogs</a></li>
            <li>
              <a href="">Products Blogs</a>
              <ul>
                <li><a href="">App Center</a></li>
                <li><a href="">Azure DevOps</a></li>
                <li><a href="">Notification Hubs</a></li>
                <li><a href="">Visual Studio</a></li>
                <li><a href="">Visual Studio Code</a></li>
                <li><a href="">Visual Studio for MAC</a></li>
              </ul>
            </li>
            <li>
              <a href="">DevOps</a>
              <ul>
                <li><a href="">Azure Artifacts</a></li>
                <li><a href="">Azure Boards</a></li>
                <li><a href="">Azure Pipelines</a></li>
                <li><a href="">Azure Repos</a></li>
                <li><a href="">Azure Test Plans</a></li>
                <li><a href="">DevOps</a></li>
              </ul>
            </li>
            <li>
              <a href="">Languages</a>
              <ul>
                <li><a href="">C++</a></li>
                <li><a href="">Java</a></li>
                <li><a href="">Java Blog In Chinese</a></li>
                <li><a href="">JavaScript</a></li>
                <li><a href="">PowerShell</a></li>
                <li><a href="">Phyton</a></li>
                <li><a href="">Q#</a></li>
                <li><a href="">Scripting</a></li>
                <li><a href="">TypeScript</a></li>
                <li><a href="">Visual Basic</a></li>
                <li><a href="">Visual C#</a></li>
                <li><a href="">Visual F#</a></li>
              </ul>
            </li>
            <li>
              <a href="">.NET</a>
              <ul>
                <li><a href="">.NET</a></li>
                <li><a href="">ASP.NET</a></li>
                <li><a href="">NuGet</a></li>
                <li><a href="">Xamarin</a></li>
              </ul>
            </li>
            <li>
              <a href="">Platform Development</a>
              <ul>
                <li><a href="">Apps for Windows</a></li>
                <li><a href="">Azure Government</a></li>
                <li><a href="">Azure SDKs</a></li>
                <li><a href="">Bing Dev Center</a></li>
                <li><a href="">Command Line</a></li>
                <li><a href="">Developer Support</a></li>
                <li><a href="">DirectX Developer Blog</a></li>
                <li><a href="">IoT Developer</a></li>
                <li><a href="">Math in Office</a></li>
                <li><a href="">Microsoft Edge Dev</a></li>
                <li><a href="">Microsoft Azure</a></li>
                <li><a href="">Office 365 Development</a></li>
                <li><a href="">Old New Thing</a></li>
                <li><a href="">PAX Graph</a></li>
                <li><a href="">PAX Media</a></li>
                <li><a href="">PAX Windows</a></li>
                <li><a href="">Perf and Diagnostics</a></li>
                <li><a href="">PIX on Windows</a></li>
                <li><a href="">Startup Developers</a></li>
                <li><a href="">Surface Duo</a></li>
                <li><a href="">Sustainable Software</a></li>
                <li><a href="">Windows Search Platform</a></li>
              </ul>
            </li>
            <li>
              <a href="">Data Development</a>
              <ul>
                <li><a href="">Azure Cosmos DB</a></li>
                <li><a href="">Azure Data Studio</a></li>
                <li><a href="">Azure SQL</a></li>
                <li><a href="">Azure OData</a></li>
                <li><a href="">Revolutions R</a></li>
                <li><a href="">SQL Server Data Tools</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="header--nav__login">
          <a href="" class="header--nav__login__btn">Login</a>
        </div>
      </nav>
    </header>

    <div class="social-bar">
      <a href="#" class="icon-facebook"></a>
      <a href="#" class="icon-twitter"></a>
      <a href="#" class="icon-linkedin2"></a>
    </div>

    <section class="container">
      <div class="container--post">
        <h1 class="title--header">Implementaciones predeterminadas en interfaces</h1>
        <img src="../images/ava.jpg" alt="" />
        <p class="container--post__name">Anibal</p>
        <p class="container--post__date">May 14th, 2019</p>
        <h1 class="title--topic">Implementaciones predeterminadas en interfaces</h1>
        <p>
          Con las publicaciones de la semana pasada que anuncian .NET Core 3.0
          Preview 5 y Visual Studio 2019 versión 16.1 Preview 3 , la última
          característica principal de C # 8.0 ahora está disponible en versión
          preliminar. Un gran impedimento para la evolución del software ha sido
          el hecho de que no se podían agregar nuevos miembros a una interfaz
          pública. Rompería los implementadores existentes de la interfaz;
          ¡después de todo no tendrían implementación para el nuevo miembro! Las
          implementaciones predeterminadas ayudan con eso. Ahora se puede
          especificar un miembro de interfaz con un cuerpo de código, y si una
          clase o estructura de implementación no proporciona una implementación
          de ese miembro, no se produce ningún error. En su lugar, se utiliza la
          implementación predeterminada. Digamos que ofrecemos la siguiente
          interfaz:
        </p>
        <div class="code">
          <pre><code>interfaz ILogger { void Log ( nivel de LogLevel , mensaje de cadena ); }
                    </code></pre>
        </div>
        <p>
          Con las publicaciones de la semana pasada que anuncian .NET Core 3.0
          Preview 5 y Visual Studio 2019 versión 16.1 Preview 3 , la última
          característica principal de C # 8.0 ahora está disponible en versión
          preliminar. Un gran impedimento para la evolución del software ha sido
          el hecho de que no se podían agregar nuevos miembros a una interfaz
          pública. Rompería los implementadores existentes de la interfaz;
          ¡después de todo no tendrían implementación para el nuevo miembro! Las
          implementaciones predeterminadas ayudan con eso. Ahora se puede
          especificar un miembro de interfaz con un cuerpo de código, y si una
          clase o estructura de implementación no proporciona una implementación
          de ese miembro, no se produce ningún error. En su lugar, se utiliza la
          implementación predeterminada. Digamos que ofrecemos la siguiente
          interfaz:
        </p>
        <div class="code">
          <pre><code>interfaz ILogger { void Log ( nivel de LogLevel , mensaje de cadena ); }
                        </code></pre>
        </div>
        <p>
          Con las publicaciones de la semana pasada que anuncian .NET Core 3.0
          Preview 5 y Visual Studio 2019 versión 16.1 Preview 3 , la última
          característica principal de C # 8.0 ahora está disponible en versión
          preliminar. Un gran impedimento para la evolución del software ha sido
          el hecho de que no se podían agregar nuevos miembros a una interfaz
          pública. Rompería los implementadores existentes de la interfaz;
          ¡después de todo no tendrían implementación para el nuevo miembro! Las
          implementaciones predeterminadas ayudan con eso. Ahora se puede
          especificar un miembro de interfaz con un cuerpo de código, y si una
          clase o estructura de implementación no proporciona una implementación
          de ese miembro, no se produce ningún error. En su lugar, se utiliza la
          implementación predeterminada. Digamos que ofrecemos la siguiente
          interfaz:
        </p>
      </div>
      <hr />
      <div class="container--post__author">
        <div class="author--avatar">
          <img src="../images/ava.jpg" alt="" />
        </div>
        <div class="social-links">
          <h5><a href="">Anibal Felipe</a></h5>
          <div>
            <p>Diseñador principal de C #, equipo de .NET</p>
          </div>
          <div>
            <p>
              <strong>Seguir</strong>
              <a href="#" class="icon-twitter"></a>
              <a href="#" class="icon-linkedin2"></a>
            </p>
          </div>
        </div>
      </div>
      <hr class="hr--final">
    </section>
  </body>
</html>
