<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/post.css" />
    <link rel="stylesheet" href="../css/icon.css" />
    <title>POST</title>
  </head>
  <body>
    <header class="header">
      <nav class="header--nav">
        <div class="header--nav__logo">
          <a href="../index.html">
            <img src="../images/logo.png" alt="" />
          </a>
        </div>
        <div class="header--nav__opciones">
          <ul>
            <li>
              <span class="header--nav__opciones__span"
                ><a href="../index.html">.NET Blog</a></span
              >
            </li>
            <li><a href="">DevBlogs</a></li>
            <li>
              <a href="">Products Blogs</a>
              <ul>
                <li><a href="">App Center</a></li>
                <li><a href="">Azure DevOps</a></li>
                <li><a href="">Notification Hubs</a></li>
                <li><a href="">Visual Studio</a></li>
                <li><a href="">Visual Studio Code</a></li>
                <li><a href="">Visual Studio for MAC</a></li>
              </ul>
            </li>
            <li>
              <a href="">DevOps</a>
              <ul>
                <li><a href="">Azure Artifacts</a></li>
                <li><a href="">Azure Boards</a></li>
                <li><a href="">Azure Pipelines</a></li>
                <li><a href="">Azure Repos</a></li>
                <li><a href="">Azure Test Plans</a></li>
                <li><a href="">DevOps</a></li>
              </ul>
            </li>
            <li>
              <a href="">Languages</a>
              <ul>
                <li><a href="">C++</a></li>
                <li><a href="">Java</a></li>
                <li><a href="">Java Blog In Chinese</a></li>
                <li><a href="">JavaScript</a></li>
                <li><a href="">PowerShell</a></li>
                <li><a href="">Phyton</a></li>
                <li><a href="">Q#</a></li>
                <li><a href="">Scripting</a></li>
                <li><a href="">TypeScript</a></li>
                <li><a href="">Visual Basic</a></li>
                <li><a href="">Visual C#</a></li>
                <li><a href="">Visual F#</a></li>
              </ul>
            </li>
            <li>
              <a href="">.NET</a>
              <ul>
                <li><a href="">.NET</a></li>
                <li><a href="">ASP.NET</a></li>
                <li><a href="">NuGet</a></li>
                <li><a href="">Xamarin</a></li>
              </ul>
            </li>
            <li>
              <a href="">Platform Development</a>
              <ul>
                <li><a href="">Apps for Windows</a></li>
                <li><a href="">Azure Government</a></li>
                <li><a href="">Azure SDKs</a></li>
                <li><a href="">Bing Dev Center</a></li>
                <li><a href="">Command Line</a></li>
                <li><a href="">Developer Support</a></li>
                <li><a href="">DirectX Developer Blog</a></li>
                <li><a href="">IoT Developer</a></li>
                <li><a href="">Math in Office</a></li>
                <li><a href="">Microsoft Edge Dev</a></li>
                <li><a href="">Microsoft Azure</a></li>
                <li><a href="">Office 365 Development</a></li>
                <li><a href="">Old New Thing</a></li>
                <li><a href="">PAX Graph</a></li>
                <li><a href="">PAX Media</a></li>
                <li><a href="">PAX Windows</a></li>
                <li><a href="">Perf and Diagnostics</a></li>
                <li><a href="">PIX on Windows</a></li>
                <li><a href="">Startup Developers</a></li>
                <li><a href="">Surface Duo</a></li>
                <li><a href="">Sustainable Software</a></li>
                <li><a href="">Windows Search Platform</a></li>
              </ul>
            </li>
            <li>
              <a href="">Data Development</a>
              <ul>
                <li><a href="">Azure Cosmos DB</a></li>
                <li><a href="">Azure Data Studio</a></li>
                <li><a href="">Azure SQL</a></li>
                <li><a href="">Azure OData</a></li>
                <li><a href="">Revolutions R</a></li>
                <li><a href="">SQL Server Data Tools</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="header--nav__login">
          <a href="" class="header--nav__login__btn">Login</a>
        </div>
      </nav>
    </header>

    <div class="social-bar">
      <a href="#" class="icon-facebook"></a>
      <a href="#" class="icon-twitter"></a>
      <a href="#" class="icon-linkedin2"></a>
    </div>

    <section class="container">
      <div class="container--post">
        <h1 class="title--header">Implementaciones predeterminadas en interfaces</h1>
        <img src="../images/ava.jpg" alt="" />
        <p class="container--post__name">Anibal</p>
        <p class="container--post__date">May 14th, 2019</p>
        <h1 class="title--topic">Implementaciones predeterminadas en interfaces</h1>
        <p>
          Con las publicaciones de la semana pasada que anuncian .NET Core 3.0
          Preview 5 y Visual Studio 2019 versión 16.1 Preview 3 , la última
          característica principal de C # 8.0 ahora está disponible en versión
          preliminar. Un gran impedimento para la evolución del software ha sido
          el hecho de que no se podían agregar nuevos miembros a una interfaz
          pública. Rompería los implementadores existentes de la interfaz;
          ¡después de todo no tendrían implementación para el nuevo miembro! Las
          implementaciones predeterminadas ayudan con eso. Ahora se puede
          especificar un miembro de interfaz con un cuerpo de código, y si una
          clase o estructura de implementación no proporciona una implementación
          de ese miembro, no se produce ningún error. En su lugar, se utiliza la
          implementación predeterminada. Digamos que ofrecemos la siguiente
          interfaz:
        </p>
        <div class="code">
          <pre><code>interfaz ILogger { void Log ( nivel de LogLevel , mensaje de cadena ); }
                    </code></pre>
        </div>
        <p>
          Con las publicaciones de la semana pasada que anuncian .NET Core 3.0
          Preview 5 y Visual Studio 2019 versión 16.1 Preview 3 , la última
          característica principal de C # 8.0 ahora está disponible en versión
          preliminar. Un gran impedimento para la evolución del software ha sido
          el hecho de que no se podían agregar nuevos miembros a una interfaz
          pública. Rompería los implementadores existentes de la interfaz;
          ¡después de todo no tendrían implementación para el nuevo miembro! Las
          implementaciones predeterminadas ayudan con eso. Ahora se puede
          especificar un miembro de interfaz con un cuerpo de código, y si una
          clase o estructura de implementación no proporciona una implementación
          de ese miembro, no se produce ningún error. En su lugar, se utiliza la
          implementación predeterminada. Digamos que ofrecemos la siguiente
          interfaz:
        </p>
        <div class="code">
          <pre><code>interfaz ILogger { void Log ( nivel de LogLevel , mensaje de cadena ); }
                        </code></pre>
        </div>
        <p>
          Con las publicaciones de la semana pasada que anuncian .NET Core 3.0
          Preview 5 y Visual Studio 2019 versión 16.1 Preview 3 , la última
          característica principal de C # 8.0 ahora está disponible en versión
          preliminar. Un gran impedimento para la evolución del software ha sido
          el hecho de que no se podían agregar nuevos miembros a una interfaz
          pública. Rompería los implementadores existentes de la interfaz;
          ¡después de todo no tendrían implementación para el nuevo miembro! Las
          implementaciones predeterminadas ayudan con eso. Ahora se puede
          especificar un miembro de interfaz con un cuerpo de código, y si una
          clase o estructura de implementación no proporciona una implementación
          de ese miembro, no se produce ningún error. En su lugar, se utiliza la
          implementación predeterminada. Digamos que ofrecemos la siguiente
          interfaz:
        </p>
      </div>
      <hr />
      <div class="container--post__author">
        <div class="author--avatar">
          <img src="../images/ava.jpg" alt="" />
        </div>
        <div class="social-links">
          <h5><a href="">Anibal Felipe</a></h5>
          <div>
            <p>Diseñador principal de C #, equipo de .NET</p>
          </div>
          <div>
            <p>
              <strong>Seguir</strong>
              <a href="#" class="icon-twitter"></a>
              <a href="#" class="icon-linkedin2"></a>
            </p>
          </div>
        </div>
      </div>
      <hr class="hr--final">
      <footer class="cattagsarea">
        <span class="cat-links">
          <p>Publicado en 
          <a class="gris" href="">C #</a></p>
          <a class="gris" href="">.NET</a>
        </span>
        <span class="tags-links ">
          <p>Etiquetado
          <a class="gris" href="">.NET</a>
          <a class="gris" href="">Visual C #</a>
          </p>
        </span>
      </footer>
    </section>
    <div class="container__post">
      <h5 class="container__post__h5">Leer a Continuacion</h5>
      <div class="row__articule">
        <article class="col-md-6">
          <div class="post_card">
            <a class="post__card_h5" href="">Mejoras de Rendimiento en .NET Core 3.0</a>
            <div class="post__des">
              <p class="post_card_p">Realice un recorrido por algunas de las muchas mejoras, grandes y
                 pequeñas, que han entrado en el tiempo de ejecución de .NET Core 3.0 y en
                 las bibliotecas principales para que las aplicaciones y los servicios
                  sean más rápidos y rápidos.</p>                  
            </div>
            <div class="container--post__author_card1">
              <div class="author--avatar_card1">
                <img src="../images/ava.jpg" alt="" />
              </div>
              <div>
                <h5 class="ani_post1"><a href="">Anibal Felipe</a></h5>
                <p class="ani_post2">14 de mayo de 2019 8:59 pm</p>
                <p></p>
              </div>
            </div>
            
        </article>
        <article class="col-md-62">
            <div class="post_card">
              <a class="post__card_h5" href="">Mejoras de Rendimiento en .NET Core 3.0</a>
              <div class="post__des">
                <p class="post_card_p">Realice un recorrido por algunas de las muchas mejoras, grandes y
                   pequeñas, que han entrado en el tiempo de ejecución de .NET Core 3.0 y en
                   las bibliotecas principales para que las aplicaciones y los servicios
                    sean más rápidos y rápidos.</p>
              </div>
              <div class="container--post__author_card1">
                <div class="author--avatar_card1">
                  <img src="../images/ava.jpg" alt="" />
                </div>
                <div>
                  <h5 class="ani_post3"><a href="">Anibal Felipe</a></h5>
                  <p class="ani_post4">14 de mayo de 2019 8:59 pm</p>
                  <p></p>
                </div>
        </article>

        <div class="post_comen">
          <h5 class="post_comen_h5">65 Comentarios</h5>
          <p class="post_comen_h5_p">Los comentarios están cerrados. <a href="">inicie sesión para editar/eliminar sus comentarios existentes</a></p>
          <a class="post_comen_h5_p_recien" href="">Comentarios mas Recientes ---></a>
        </div>

        <article class="container_final_post">
          <div>
            <div>
              <div class="container--post__author_comen1">
                <div class="author--avatar_comen1">
                  <img src="../images/ava.jpg" alt="" />
                </div>
                <div class="social-links-final1">
                  <h5><a href="">Anibal Felipe</a></h5>
                  <p class="tiempo1">14 de mayo de 2019 8:59 pm</p>
                  <div>
                  <p class="container_final_post_1">¿Significa que ahora podemos definir miembros privados en interfaces?
                  Esto se debe a que, por lo que entiendo, la implementación predeterminada todavía tendría que usar el miembro definido de la interfaz
                  solamente, y la OMI, en la mayoría de los casos, la implementación predeterminada útil necesitaría acceso a algunos miembros privados. (Esta
                  es la razón principal por la que elegimos clases base sobre la interfaz cuando necesitamos elegir entre ellas)</p>
                </div>
                <hr/>

            <div>
              <div class="container--post__author_comen2">
                <div class="author--avatar_comen2">
                  <img src="../images/ava.jpg" alt="" />
                </div>
                <div class="social-links-final2">
                  <h5><a href="">Anibal Felipe</a></h5>
                  <p class="tiempo1">14 de mayo de 2019 8:59 pm</p>
                <div>
                  <p class="container_final_post_2">¿Significa que ahora podemos definir miembros privados en interfaces?
                  Esto se debe a que, por lo que entiendo, la implementación predeterminada todavía tendría que usar el miembro definido de la interfaz
                  solamente, y la OMI, en la mayoría de los casos, la implementación predeterminada útil necesitaría acceso a algunos miembros privados. (Esta
                  es la razón principal por la que elegimos clases base sobre la interfaz cuando necesitamos elegir entre ellas)</p>
            </div>
            <hr/>

            <div>
              <div class="container--post__author_comen3">
                <div class="author--avatar_comen3">
                  <img src="../images/ava.jpg" alt="" />
                </div>
                <div class="social-links-final3">
                  <h5><a href="">Anibal Felipe</a></h5>
                  <p class="tiempo1">14 de mayo de 2019 8:59 pm</p>
                <div>
                  <p class="container_final_post_3">¿Significa que ahora podemos definir miembros privados en interfaces?
                  Esto se debe a que, por lo que entiendo, la implementación predeterminada todavía tendría que usar el miembro definido de la interfaz
                  solamente, y la OMI, en la mayoría de los casos, la implementación predeterminada útil necesitaría acceso a algunos miembros privados. (Esta
                  es la razón principal por la que elegimos clases base sobre la interfaz cuando necesitamos elegir entre ellas)</p>
            </div>
          </div>
        </article>
        </article>

      </div>
    </div>
  </body>
</html>
